@import '../styles/colors.scss';
.title {
    color: $text-color;
    margin: 0%;
    padding: 0%;
    margin-bottom: 10px;
}

.navigation {
    list-style-type: none;
    font-size: 1.2em;
}

.navigation a {
    padding: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary;
    background-color: $text-color;
}

.navigation a:hover {
    background-color: $accent;
}