@import '../../styles/colors.scss';
a {
    text-decoration: none;
}
.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.category-grid{
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  align-items: center;
  width: 30em;
  height: 17em;
  padding: 2em;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgb(36, 36, 36);
}


.category-grid:hover {
    background-color: #4e8574;
    cursor: pointer;
    text-decoration: none;
}

.category-grid .title {
    margin-top: 0.5em;
    text-align: center;
}

.category-grid img {
    width: max-content;
    border-radius: 50%;
}
