@import '../../styles/colors.scss';
a {
    text-decoration: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgb(36, 36, 36);
    transition: 0.3s;
}

.category-item:hover {
    background-color: #20c997;
    cursor: pointer;
    text-decoration: none;
}

.category-item .title {
    margin-top: 0.5em;
    text-align: center;
}

.category-item img {
    width: max-content;
    border-radius: 50%;
}