<mat-tab-group backgroundColor=accent animationDuration="0ms ">
    <mat-tab label="App Info">
        <mat-card class="card-info">
            <mat-card-header> U08 Angular Recipe App With Php Laravel Backend
            <small> Recipe app with frontend buiit with angular and hosted on netlify
                   Backend built with Laravel and hosted on heroku </small> </mat-card-header>
            <mat-card-content>
                <div class="mc">
                   <h1> Features </h1>
                   <ul>
                   <li>Authentication  - You can register an account and login </li>
                   <li>  Private Recipe list - You can create multiple list of recipes on your profile and set a default list where youwant to save you Favorite recipes</li>
                   <li> Search Recipes -  You can search for recipes</li>
                   <li>Browse Recipe - You can browse though a list of recipes </li>
                   </ul >

                    <h1>   Summary  </h1>
                     <ul>
                   <li>Building SPA with angular was lots of fun and educative </li>
                   <li>  Learnt to build crud applications with laravel and worked with relation database</li>
                   <li> setting up hosting with netlify and heroku was quite straight forward</li>
                   <li>Sql Queries </li>
                   </ul >
                   You can fin other projects i have built on my <a href="#"> Portfolio</a>
                </div>
                <mat-card-actions>
                    <p><a routerLink="categories"> Browse Recipes</a> </p>
                </mat-card-actions>

            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Search Recipes">
        <mat-card>
            <form>
                <div class="input-group ">
                    <input type="text" class="form-control" #input placeholder="search recipes" aria-label="Search Bar" aria-describedby="search for recipes">
                    <div class="input-group-prepend">
                        <button class="input-group-text" style="cursor: pointer; " (click)="searchRecipe(input.value)"> <mat-icon>search</mat-icon></button>
                    </div>
                </div>
            </form>
        </mat-card>
        <div class="recipe-grid">
            <div *ngFor="let meal of  querryRes.meals">
                <div class="recipe-card ">
                    <h3 class=" recipe-name "> {{meal.strMeal}} </h3>
                    <img mat-card-image src={{meal.strMealThumb}} alt="image of{{meal.strMeal}} ">

                    <mat-card-actions>

                        <button mat-raised-button color="accent" routerLink="recipe/{{meal.idMeal}}">Show Recipe</button>
                        <!--  <button mat-raised-button color="accent" (click)={addFavoriteFunc(meal.idMeal,meal.strMeal)}>Add To Favorite</button>*/ -->
                    </mat-card-actions>


                </div>

            </div>
        </div>
    </mat-tab>

</mat-tab-group>
