@import './styles/colors.scss';
body {
    background-color: $background;
}

app-header {
    margin: 0%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

.content {
    padding: 2%;
    display: flex;
    justify-content: center;
    border: 1px solid $accent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.page-title {
    font-size: 1.4em;
    text-transform: uppercase;
    color: darken($text-color, 25);
}