<div *ngFor="let meal of currentRecipe.meals">
    <div class="recipe-card">
        <div class=" recipe-name"> {{meal.strMeal}} </div>
        <div class="recipe-content">
            <div class=" recipe-info">
                <p>{{meal.strArea}} </p>
                <p> {{meal.strCategory}} </p>
                <p> {{meal.strInstructions}}</p>
            </div>
            <div class=" recipe-ingredients">
                <ol style=" list-style-type: none;">
                    <li> <b>{{meal.strMeasure1}}</b> {{meal.strIngredient1}} </li>
                    <li> <b>{{meal.strMeasure2}}</b> {{meal.strIngredient2}}</li>
                    <li> <b>{{meal.strMeasure3}}</b> {{meal.strIngredient3}}</li>
                    <li> <b>{{meal.strMeasure4}}</b> {{meal.strIngredient4}}</li>
                    <li> <b>{{meal.strMeasure5}}</b> {{meal.strIngredient5}}</li>
                    <li> <b>{{meal.strMeasure6}}</b> {{meal.strIngredient6}}</li>
                    <li> <b>{{meal.strMeasure7}}</b> {{meal.strIngredient7}}</li>
                    <li> <b>{{meal.strMeasure8}}</b> {{meal.strIngredient8}}</li>
                    <li> <b>{{meal.strMeasure9}}</b> {{meal.strIngredient9}}</li>
                    <li> <b>{{meal.strMeasure10}}</b>{{meal.strIngredient10}}</li>
                    <li> <b>{{meal.strMeasure11}}</b> {{meal.strIngredient11}} </li>
                    <li> <b>{{meal.strMeasure12}}</b> {{meal.strIngredient12}}</li>
                    <li> <b>{{meal.strMeasure13}}</b> {{meal.strIngredient13}}</li>
                    <li> <b>{{meal.strMeasure14}}</b> {{meal.strIngredient14}}</li>
                    <li> <b>{{meal.strMeasure15}}</b> {{meal.strIngredient15}}</li>
                    <li> <b>{{meal.strMeasure16}}</b> {{meal.strIngredient16}}</li>
                    <li> <b>{{meal.strMeasure17}}</b> {{meal.strIngredient17}}</li>
                    <li> <b>{{meal.strMeasure18}}</b> {{meal.strIngredient18}}</li>
                    <li> <b>{{meal.strMeasure19}}</b> {{meal.strIngredient19}}</li>
                    <li> <b>{{meal.strMeasure20}}</b>{{meal.strIngredient20}}</li>

                </ol>
            </div>
            <div class=" recipe-controls">

                <a href={{meal.strYoutube}} target="_blank"> Watch Instruction Video</a>
                <a>
                    Add to favorites
                </a>
            </div>

        </div>
    </div>