<h1 class="page-title"> U08 Angular Recipe App With Php Laravel Backend </h1>
<div class="page-text">
    <p>
        A fun project that challenged in me in many ways, the page you are seeing right now is the second iteration. I learned a harsh lesson by accidentally deleteing the first iteration of this project and others without a backup and neglecting to push my commits.
        Lesson Learned! Anyways i had lots of fun navigateing through angular even though i went into it with a pretty narrow mindset, this project opened me up to understanding the why behind angular and respect it in many ways. The backend part was
        less of a challenge but it could have been done in a better way.
    </p>
    <p><a routerLink="recipes"> View Recipes</a> </p>
</div>